* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    margin: 2rem;
}

.col {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.row {
    flex: 25%;
    flex-shrink: 0;
    width: 100%;
}

.row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-right .team {
    margin: 8px 0;
}

.row-right .team button {
    width: 4rem;
    height: 2rem;
    border-radius: 4px;
    transition: 0.3s ease;
}

.row-right .team button:hover {
    background-color: lightgrey;
}

.row-right .team-blue button {
    border-color: blue;
}

.row-right .team-red button {
    border-color: red;
}

.grid {
    display: grid;
    grid-template-columns: 25vmin 25vmin 25vmin;
    grid-template-rows: 25vmin 25vmin 25vmin;
    border: 1px solid #FFF;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:nth-child(2n) {
    background-color: #212121;
}