.player-container {
    &#blue {
        --gradient-color: linear-gradient(180deg, #00D2FF 0%, #3A7BD5 100%);
    }

    &#red {
        --gradient-color: linear-gradient(180deg, #FF512F 0%, #DD2476 100%);
    }

    .player-card {
        border-radius: 1rem;
        padding: 16px;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 32vmin;
        text-align: center;
        cursor: pointer;

        .player-logo {
            width: 6vmin;
            height: 6vmin;
            border-radius: 6vmin;
            margin-bottom: 2vmin;
            background: var(--gradient-color);
        }

        .player-number {
            font-size: 2vmin;
            font-weight: bold;
            opacity: 50%;
        }

        .player-name {
            font-size: 2.5vmin;
            font-weight: bold;
            margin: 1.5vmin 0;
        }

        .player-score {
            font-size: 5vmin;
            font-weight: bold;
        }
    }

    .pieceSelector {
        .pieceItem {
            border-radius: 1rem;
            padding: 16px 24px;
            box-shadow: $box-shadow;
            display: flex;
            align-items: center;
            width: 32vmin;
            margin: 16px 0;
            cursor: pointer;

            &.active {
                background: $background-color-active;

                .piece-item-circle {
                    &::after {
                        background: $background-color-active;
                    }
                }
            }

            .piece-item-circle {
                position: relative;
                width: 3vmin;
                height: 3vmin;
                border-radius: 3vmin;
                margin-right: 1.5vmin;
                background: var(--gradient-color);

                &::after {
                    content: "";
                    position: absolute;
                    background: $background-color;
                    inset: 0;
                    margin: 0.3vmin;
                    border-radius: 3vmin;
                }
            }

            .piece-item-size,
            .piece-item-number {
                font-size: 2vmin;
                font-weight: bold;
            }

            .piece-item-number {
                margin-left: auto;
            }
        }
    }
}
