.room-selector {
    list-style: none;
    max-height: 50vmin;
    overflow-y: scroll;
    overflow-x: visible;

    .room-item {
        width: 50vmin;
        padding: 1.5vmin 2vmin;
        margin: 2.5vmin;
        border: none;
        outline: none;
        border-radius: 1.5vmin;
        background: $background-color;
        box-shadow: $box-shadow;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .room-title, .room-slot {
            font-size: 2vmin;
            font-weight: bold;
        }
    }
}
