* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    overflow-x: hidden;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        h1 {
            margin: 2rem;
        }

        .col {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 2rem;

            .row {
                flex: 25%;
                flex-shrink: 0;
                width: 100%;

                &.row-left {
                    /* padding-left: 4rem; */
                    text-align: center;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    /* div {
                        display: flex;
                        justify-content: space-around;
                        margin: 2rem 0;
                    } */

                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 8px solid #fff;
                        border-radius: 50%;
                        height: 10vmin;
                        width: 10vmin;
                        user-select: none;
                        margin: 8px;
                        cursor: pointer;

                        /* &.small {
                            height: 4vmin;
                            width: 4vmin;
                        }

                        &.medium {
                            height: 8vmin;
                            width: 8vmin;
                        }

                        &.large {
                            height: 12vmin;
                            width: 12vmin;
                        } */

                        &.disabled {
                            opacity: 0.25;
                            pointer-events: none;
                        }

                        &.blue {
                            border-color: blue;
                        }

                        &.red {
                            border-color: red;
                        }
                    }
                }

                &.row-center {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .grid {
                        display: grid;
                        grid-template-columns: repeat(3, 20vmin);
                        grid-template-rows: repeat(3, 20vmin);
                        border: 1px solid #fff;

                        .box {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;

                            &:nth-child(2n) {
                                background-color: #212121;
                            }

                            /* Circle Style */
                            span {
                                position: absolute;
                                border: 8px solid #fff;
                                border-radius: 50%;
                                height: 50%;
                                width: 50%;
                                user-select: none;
                                pointer-events: none;

                                &.small {
                                    height: 25%;
                                    width: 25%;
                                }

                                &.medium {
                                    height: 50%;
                                    width: 50%;
                                }

                                &.large {
                                    height: 75%;
                                    width: 75%;
                                }

                                &.blue {
                                    border-color: blue;
                                }

                                &.red {
                                    border-color: red;
                                }
                            }
                            /* End Circle Style */
                        }
                    }
                }

                &.row-right {
                    /* padding-right: 4rem; */
                    text-align: center;

                    .team {
                        margin: 8px 0;

                        .btn-team,
                        .btn-reset {
                            cursor: pointer;
                            width: 4rem;
                            height: 2rem;
                            border-radius: 4px;
                            transition: 0.3s ease;

                            &:hover {
                                background-color: lightgrey;
                            }
                        }

                        &.team-blue button {
                            border-color: blue;
                        }

                        &.team-red button {
                            border-color: red;
                        }
                    }
                }
            }
        }

        .circle-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2rem 0;

            .circle {
                display: inline-block;
                border: 8px solid #fff;
                border-radius: 50%;
                height: 10vmin;
                width: 10vmin;
                user-select: none;
                pointer-events: none;
                margin: 8px;

                &.small {
                    height: 4vmin;
                    width: 4vmin;
                }

                &.medium {
                    height: 8vmin;
                    width: 8vmin;
                }

                &.large {
                    height: 12vmin;
                    width: 12vmin;
                }

                &.blue {
                    border-color: blue;
                }

                &.red {
                    border-color: red;
                }
            }
        }
    }
}
