* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        background-color: $background-color;
        width: 1vmin;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 1vmin;
        background: $text-color;
    }
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: Montserrat, Helvetica, sans-serif;
    overflow-x: hidden;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        .col {
            display: flex;
            /* flex-wrap: wrap; */
            justify-content: center;
            width: 100%;
            gap: 2rem;

            .row {
                flex: 25%;
                flex-shrink: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                .login-title {
                    display: flex;
                    align-items: center;
                    margin: 3vmin 0;

                    svg {
                        width: 12vmin;
                        height: 12vmin;
                    }

                    h2 {
                        margin-left: 4.5vmin;
                        font-size: 4.5vmin;
                    }
                }
            }
        }
    }
}
